body {
    text-align: center;
   }
   
h2, button {
    font-family: 'Courier New';
   }
   
input, button {
    width: 70%;
    margin: 10px;
    padding: 5px;
   }
   
#name, #email, #password {
    border: 2px solid #3a6cf4;
   }

button {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

button:hover {
    background-color: #0a49f6;
    transform: scale(1.1);

}